name: Test YAML conversion

on: [push, pull_request]

jobs:
  yaml-conversion:
    runs-on: self-hosted
    timeout-minutes: 60

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run conversion script
        run: |
          /usr/local/bin/matlab -nodisplay -nosplash -nodesktop -r "addpath(genpath('.')); testYamlConversion"
